$container-width: 1440px;
$container-padding-desktop: 150px;
$container-padding-mobile: 24px;

.app {
	max-width: $container-width;
	margin: 0 auto;
	padding-left: $container-padding-desktop;
	padding-right: $container-padding-desktop;

	@media (max-width: 768px) {
		padding-left: $container-padding-mobile;
		padding-right: $container-padding-mobile;
	}
}
