$color-bg-primary: #ffffff;
$color-bg-secondary: #F8F8F8;

$color-text-primary: #0B132A;
$color-text-secondary: #4F5665;
$color-text-btn: #ffffff;

$color-accent: #F53838;
$shadow-accent:rgba(245, 56, 56, 0.35);
$shadow-secondary:rgba(13, 16, 37, 0.06);

$color-border: #DDDDDD;




