@use '../../styles/variables' as *;
@use '../../styles/typography' as *;
@use '../../styles/mixins' as *;
@use 'sass:color';

.features {
	margin-top: 96px;
	position: relative;

	.container {
		display: flex;
		justify-content: space-between;

		@media (max-width: 768px) {
			flex-direction: column;
			gap: 40px;
			text-align: center;
		}
	}

	.image {
		img {
			width: 100%;
			max-width: 600px;
		}
	}

	.content {
		margin-top: 25px;
		max-width: 420px;
		h1 {
			font-size: 35px;
			line-height: 50px;
			color: $color-text-primary;
			font-weight: $font-weight-medium;
		}

		p {
			margin-top: 20px;
			line-height: 30px;
		}
	}

	.list {
		margin-top: 23px;
	}

	.listItem {
		margin-top: 15px;
		display: flex;
		gap: 10px;
		p {
			margin: 0;
		}
	}
}
